.main-promo {
  background-color: $color__background-secondary;
  min-height: 75vh;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    @include respond(tablet-land) {
      flex-direction: row;
    }

    img {
      margin: 0 auto;
      box-shadow: 0.5rem 0.5rem 0.5rem $color__border;
      border-radius: 0;
    }

    .thumbnail-link__overlay {
      display: none;
    }
  }

  &__primary-item {
    flex: 1.5;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $color__background-body;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem $color__border;
    @include respond(tablet-land) {
      margin-right: 1rem;
    }
  }

  &__post-thumbnail-wrapper {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        65deg,
        rgba($color__theme1, 0.15),
        rgba($color__theme2, 0.15)
      );
    }
    &--secondary {
      max-width: 450px;
      margin: 0 auto;
    }
  }

  &__primary-item-header {
  }

  &__primary-item-title {
    a {
      color: $color__theme1;
    }
  }

  &__primary-item-excerpt {
  }

  &__item-footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    a {
      color: white;
    }
  }

  // secondary items
  &__secondary-items {
    flex: 1;
    @include respond(tablet-land) {
    }
  }

  &__secondary-item {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $color__background-body;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem $color__border;
  }

  &__secondary-item-header {
  }

  &__secondary-item-title {
    a {
      color: $color__theme1;
    }
  }
}
