.post-on-index {
  position: relative;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border: 5px double $color__border;
  @include respond(tablet-land) {
    display: flex;
    align-items: center;
    .post-thumbnail {
      min-width: 300px;
      margin-right: 1rem;
    }
    .entry-wrapper {
      flex-basis: 1;
      margin-left: 1rem;
    }
  }
}

.post-thumbnail {
  overflow: hidden;
  img {
    display: block;
    border-radius: 5px;
    box-shadow: -0.5rem 0.5rem 1.5rem transparentize($color__theme3, 0.55);
  }
}
