.site-main--single {
  .post-thumbnail img {
    border-radius: 0;
    box-shadow: none;
  }
  .entry-header {
    margin-bottom: 3rem;
  }
  .entry-title {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .entry-meta {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  .entry-footer {
    color: $color__theme1;
    a {
      color: inherit;
    }
  }
  .tags-links {
    a {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      margin: 0.15rem;
      color: white;
      text-transform: uppercase;
      background-color: $color__theme1;
      transition: background-color 100ms ease-in;
      &:hover {
        background-color: darken($color__theme1, 10%);
      }
    }
  }
}
