.top-navigation-bar {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid $color__border;
  background-color: $color__background-body;
  z-index: 99;
  height: 4rem;
  display: flex;
  align-items: center;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.top-navigation-bar__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  font-family: $font__secondary;
  font-size: 2rem;
  a {
    color: $color__theme1;
  }
}

.top-navigation-bar__logo {
  margin: 0;
}

.main-navigation {
  position: fixed;
  top: 0;
  right: -70%;
  clear: both;
  display: block;
  width: 70%;
  padding: 1rem;
  min-height: 100vh;
  border: 1px solid $color__border;
  box-shadow: 0 0.5rem 0.5rem $color__border;
  background-color: $color__background-secondary;
  transition: all 250ms ease-in;
  z-index: 99;
  @include respond(small-desktop) {
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    min-height: auto;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  ul {
    display: block;
    padding-left: 0;
    margin: 0;
    list-style: none;
    background-color: $color__background-body;
    @include respond(small-desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul {
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem;
    border-bottom: 1px solid $color__border;
    font-size: 0.9rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 150ms ease-in;

    @include respond(small-desktop) {
      width: auto;
      margin: 0 0.5rem;
    }
    &:hover {
      border-bottom: 2px solid $color__theme2;
    }
    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  // active walker class
  .current-menu-item {
    border-bottom: 2px solid $color__theme2;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.main-navigation.toggled {
  top: 0;
  right: 0;
  .menu-toggle {
    left: -4rem;
  }
}

.menu-toggle {
  position: relative;
  top: -0.5rem;
  left: -5rem;
  transition: left 250ms ease-in, background-color 125ms ease-in;
}
@media screen and (min-width: 992px) {
  .menu-toggle {
    display: none;
    position: relative;
  }
  .main-navigation ul {
    display: block;
  }
}

// post navigation
.comment-navigation,
.posts-navigation,
.post-navigation {
  margin: 2.5rem 0;
  .site-main & {
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 80%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    background-color: $color__background-secondary;
    text-align: center;
    border: 1px solid $color__border;
    a {
      display: block;
      height: 100%;
      color: $color__text-main;
      &:visited {
        color: $color__text-main;
      }

      &:hover {
        color: $color__text-main;
      }
    }
    @include respond(tablet-land) {
      width: 45%;
    }
  }

  .nav-next {
    width: 80%;
    float: right;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: $color__background-secondary;
    border: 1px solid $color__border;
    border-radius: 50px;

    a {
      display: block;
      height: 100%;
      color: $color__text-main;
      &:visited {
        color: $color__text-main;
      }

      &:hover {
        color: $color__text-main;
      }
    }

    @include respond(tablet-land) {
      width: 45%;
    }
  }
}
