.widget {
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 2.5rem;
  border: 1px solid $color__border;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    transform: translate(-50%, -50%);
    border: 1px solid $color__border;
    z-index: -1;
  }
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
    ul,
    ol {
      padding: 0 0 0.5rem 0.5rem;
      margin: 0 0 0.5rem 0.5rem;
    }
  }
  li {
    padding: 0 0 1rem 0;
  }
}

.widget-title {
  position: relative;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 0;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 5px;
    transform: translate(-50%, 0);
    border-top: 1px solid $color__border;
    border-bottom: 1px solid $color__border;
    z-index: -1;
  }
}

// tag cloud
.widget_tag_cloud {
  a {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.25rem;
    text-transform: uppercase;
    font-size: 0.75rem !important;
    border: 1px solid $color__border;
    background-color: $color__background-secondary;
    transition: background-color 150ms ease-in;
    &:hover {
      background-color: darken($color__background-secondary, 2.5%);
    }
  }
}

// Search widget
.widget_search {
  .search-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .search-field {
    width: 100%;
    margin-bottom: 0.25rem;
    border: 1px solid $color__border;
    background-color: $color__background-secondary;
  }
  .search-submit {
    width: 100%;
  }
}

// recent entries
.widget_recent_entries {
  font-size: 0.9rem;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid $color__border;
  }
}
