.sticky {
  display: block;
  background-color: transparentize($color__theme2, 0.85);
  box-shadow: 0 1rem 2rem $color__border;
}

.hentry {
  margin: 0 0 1.5rem;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5rem 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5rem;
}
